<!-- ปิดเมนูเมื่อคลิกนอกกรอบ ควรผูกที่ wrapper -->
<div class="relative ml-3" clickOutside (clickOutside)="isOpen = false">
  <!-- Profile Button -->
  <button (click)="toggleMenu()" class="bg-card relative flex rounded-full text-sm" type="button">
    <span class="sr-only">Open user menu</span>
    <img class="size-9 shrink-0 rounded-md" src="https://avatars.githubusercontent.com/u/12519008?v=4" alt="" />
  </button>

  <!-- Dropdown -->
  <div [@openClose]="isOpen ? 'open' : 'closed'"
    class="bg-background shadow-custom border-muted absolute z-20 mt-2 w-60 origin-top-right transform rounded-md border border-dashed py-4 ring-1 ring-transparent ring-opacity-5 transition focus:outline-hidden ltr:right-0 rtl:left-0">

    <div class="flex-row flex items-center px-4 pb-4" *ngIf="user$ | async as user">
      <div class="w-10 shrink-0">
        <img class="rounded-md" src="https://avatars.githubusercontent.com/u/12519008?v=4" alt="" />
      </div>
      <div class="text-foreground overflow-hidden px-2 text-sm font-semibold">
        {{ user.firstName }} {{ user.lastName }}
        <p class="text-muted-foreground truncate text-ellipsis text-xs font-semibold">
          {{ user.email || '—' }}
        </p>
      </div>
    </div>


    <div class="border-border border-b border-dashed"></div>

    <ul class="my-2 mx-2 flex flex-col">
      @for (item of profileMenu; track $index) {
      <li class="inline-flex rounded-md">
        @if (item.action) {
        <!-- ▶️ กรณี Logout / เมนูที่เป็น action -->
        <button type="button" (click)="item.action(); isOpen = false"
          class="text-muted-foreground hover:bg-card hover:text-primary w-full text-left inline-flex items-center gap-2 rounded-md px-2 py-2 text-xs font-semibold">
          <svg-icon [src]="item.icon" [svgClass]="'h-5 w-5 text-muted-foreground/50'"></svg-icon>
          {{ item.title }}
        </button>
        } @else {
        <!-- ▶️ กรณีเมนูทั่วไปที่เป็น link -->
        <a [routerLink]="item.link" (click)="isOpen = false"
          class="text-muted-foreground hover:bg-card hover:text-primary inline-flex w-full items-center gap-2 rounded-md px-2 py-2 text-xs font-semibold">
          <svg-icon [src]="item.icon" [svgClass]="'h-5 w-5 text-muted-foreground/50'"></svg-icon>
          {{ item.title }}
        </a>
        }
      </li>
      }
    </ul>
  </div>
</div>