<div class="flex min-h-screen w-full flex-col">
  <!-- Sidebar + Main -->
  <div class="flex flex-1 overflow-visible">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Main area -->
    <div class="flex flex-1 flex-col bg-card">
      <!-- Header -->
      <app-navbar></app-navbar>

      <!-- Main content -->
      <div id="main-content" class="flex-grow">
        <div class="mx-auto">
          <router-outlet></router-outlet>
        </div>
      </div>

      <!-- Footer -->
    </div>
  </div>
  <app-footer class="shrink-0"></app-footer>
</div>